{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}


<div class="container">
    <h3 class="text-center mt-2">Добро пожаловать на наш электронный портал</h3>
<div class="row mt-5">
{%for p in product_list%}
 <div class="col-md-2">
     <div class="m-4">
    <h4><a style="text-decoration:none;" href="{% url 'ecomapp:productdetail' p.slug %}">{{p.title}}</a></h4>
        {% if p.image %}
            <p><img src="{{p.image.url}}" width="160" height="120"></p>
        {% else %}
           <p>no image for it</p>
        {% endif %}
     <p class="mt-3"> Цена: <strike>{{p.marked_price}}</strike>сом {{p.selling_price}}сом</p>
     <a href="{% url 'ecomapp:addtocart' p.id %}" class="btn btn-primary">В карзину</a>
     </div>
</div>
{%endfor%}
</div>

</div>
{% endblock %}